<section id="beispiele" style="text-align: left;">
	<h1>Beispiele</h1>
		<a style="color: white;" target="_blank" href="http://www.niemerszein.de/unser-sortiment/neu-im-sortiment">Produktverwaltung</a><br>
		<a style="color: white;" target="_blank" href="http://mittwald.dev/faq">FAQ</a><br>
		<a style="color: white;" target="_blank" href="http://mittwald.dev/blog">Blog</a><br>
		<a style="color: white;" target="_blank" href="https://www.hundeklick.de/sprueche-videos/sprueche/784-tiere-muessen-respektiert-werden">Socialmedia & Tags</a>
		<a style="color: white;" target="_blank" href="http://mittwald.dev/portfolio">Portfolio</a>
</section>