<section id="beispiele" style="text-align: left;">
	<h1>Beispiele</h1>
		<a style="color: white;" target="_blank" href="http://www.niemerszein.de/unser-sortiment/neu-im-sortiment">Produktverwaltung</a><br>
		<a style="color: white;" target="_blank" href="http://p370491.webspaceconfig.de/faq">FAQ</a><br>
		<a style="color: white;" target="_blank" href="http://p370491.webspaceconfig.de/blog">Blog</a><br>
		<a style="color: white;" target="_blank" href="http://p370491.webspaceconfig.de/portfolio">Portfolio</a>
</section>