<section id="fragment" date-state="joomlablue">
    <h2>fragment DEMO</h2>
    <pre class="stretch"><code class="hljs php" data-trim data-fragment>
		echo "Hello World";
<mark class="fragment" data-fragment-index="0"><mark class="fragment highlight-green" data-fragment-index="1">echo "Hello Green";</mark></mark>
<mark class="fragment" data-fragment-index="2"><mark class="fragment highlight-red" data-fragment-index="3">echo "Hello Red";</mark></mark>
<mark class="fragment" data-fragment-index="4"><mark class="fragment highlight-blue" data-fragment-index="5">echo "Hello Blue";</mark></mark>
   </code></pre>
</section>