<section id="photocredits" data-state="joomlared">
	<h1>Photo Credits</h1>
	<p>
		<a href="https://unsplash.com/photos/6PF6DaiWz48" target="_blank">Rayi Christian Wicaksono</a><br>
		<a href="https://unsplash.com/photos/vw3Ahg4x1tY" target="_blank">Greg Rakozy</a><br>
		<a href="https://unsplash.com/photos/OqtafYT5kTw" target="_blank">Ilya Pavlov</a><br>
		<a href="https://unsplash.com/photos/xekxE_VR0Ec" target="_blank">Markus Spiske</a><br>
		<a href="https://unsplash.com/photos/n3XTxxV7qhI" target="_blank">Faye Cornish</a><br>
		<a href="https://unsplash.com/photos/HnUHOBuJ7s4" target="_blank">Ambitious Creative Co. - Rick Barrett</a>
	</p>
</section>