<script src="{{ site.baseurl }}/assets/lib/js/head.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/reveal.js"></script>

<script>

    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        viewDistance: 2,

        transition: 'fade', // none/fade/slide/convex/concave/zoom

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            { src: '{{ site.baseurl }}/assets/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '{{ site.baseurl }}/assets/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '{{ site.baseurl }}/assets/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '{{ site.baseurl }}/assets/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '{{ site.baseurl }}/assets/plugin/zoom-js/zoom.js', async: true },
            { src: '{{ site.baseurl }}/assets/plugin/notes/notes.js', async: true },
            { src: '{{ site.baseurl }}/assets/js/highlightfragment.js', async: true }
        ]
    });

</script>