<section>
    <h1>Die schlechte Nachricht</h1>
    <aside class="notes">

    </aside>
</section>
<section>
    <h1>Code</h1>
    <pre><code class="hljs html" data-trim>
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;title&gt;The bad news...&lt;/title&gt;
        <meta name="description" content="This is a description">
        <meta name="author" content="Niels Nübel">
    &lt;/head&gt;
&lt;body&gt;
    <p>Hello World</p>
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
    <aside class="notes">

    </aside>
</section>
<section>
    <h1>Die gute Nachricht</h1>
    <aside class="notes">

    </aside>
</section>
<section>
    <h1>Stellt mir Fragen</h1>
    <h2>am Ende eines Themas</h2>
    <aside class="notes">
        Ihr wisst wann und zwar wenn der Slide so aussieht ->
    </aside>
</section>
<section data-background="#76bd1d" data-background-transition="zoom">
    <h2>Wenn die Folie<br>so aussieht</h2>
</section>
<section>
    <h1>Die bessere Nachricht</h1>
    <aside class="notes">
        Ihr müsst nicht alles abschreiben
    </aside>
</section>
<section style="text-align: left;">
    <h1>Links</h1>
    <p>
        - <a href="http://joomladaytemplate.niels-nuebel.de">joomladaytemplate.niels-nuebel.de</a> <br>
        - <a href="https://github.com/nielsnuebel/joomladay-template" target="_blank">JDay 2016 Template</a>
    </p>
    <aside class="notes">
    </aside>
</section>
<section>
    <h1>Die beste Nachricht</h1>
    <aside class="notes">
    </aside>
</section>
<section>
    <h2>Keine allgemeine Lösung</h2>
    <aside class="notes">
    </aside>
</section>
