<section id="templates">
    <h1>Joomla Templates</h1>
    <aside class="notes">
        Wer von euch hat schon Templates programmiert?
        Für wenn ist das komplettes Neuland?
    </aside>
</section>
<section>
    <h2>Backend Templates</h2>
    <img src="{{ site.baseurl }}/images/backend_templates.png">
</section>
<section>
    <h2 class="noupper">Beispiel: isis</h2>
    <img src="{{ site.baseurl }}/images/isis.png">
</section>
<section>
    <h2>Frontend Templates</h2>
    <img src="{{ site.baseurl }}/images/frontend_templates.png">
</section>
<section>
    <h2 class="noupper">Protostar</h2>
    <img src="{{ site.baseurl }}/images/protostar.jpg">
</section>