<section>
    <h2 class="noupper">Unsere neue Ordner Struktur</h2>
    <img src="{{ site.baseurl }}/images/languages.jpg" width="600">
    <aside class="notes">
        Hier noch mal unsere Struktur
    </aside>
</section>

<section>
    <h1>Joomla Template installieren</h1>
</section>
<section data-background="{{ site.baseurl }}/images/discover.gif" data-state="animationgif">
</section>

<section data-background="#76bd1d" data-background-transition="zoom">
    <h2 class="noupper">Template ist installiert</h2>
</section>