<section>
    <h2 class="noupper">Template Previews</h2>
    <img src="{{ site.baseurl }}/images/template_backend.jpg">
    <aside class="notes">
    </aside>
</section>

<section>
    <h2 class="noupper">template_thumbnail.png</h2>
    <img src="{{ site.baseurl }}/images/template_thumbnail.png">
    <aside class="notes">
    </aside>
</section>


<section>
    <h2 class="noupper">template_thumbnail.png</h2>
    <img src="{{ site.baseurl }}/images/thumbnail.jpg">
    <aside class="notes">
    </aside>
</section>

<section>
    <h2 class="noupper">template_preview.png</h2>
    <img src="{{ site.baseurl }}/images/template_preview.png">
    <aside class="notes">
    </aside>
</section>

<section>
    <h2 class="noupper">template_thumbnail.png</h2>
    <img src="{{ site.baseurl }}/images/preview.jpg">
    <aside class="notes">
    </aside>
</section>

<section>
    <img src="{{ site.baseurl }}/images/preview_folder.jpg" width="600">
    <aside class="notes">
    </aside>
</section>



<section data-transition="none">
    <h2 class="noupper">Template Bild</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
  <description>TPL_JDAY2016_XML_DESCRIPTION</description>

  <files>
    <folder>language</folder>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">Template Bild</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
  <description>TPL_JDAY2016_XML_DESCRIPTION</description>

  <files>
    <folder>language</folder>
    <filename>index.php</filename>
    <mark class="inline"><filename>template_preview.png</filename></mark>
    <mark class="inline"><filename>template_thumbnail.png</filename></mark>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>