<section style="text-align: left;">
    <img src="{{ site.baseurl }}/images/niels_nuebel.jpg" height="400" style="float: right">
    <h2>Niels Nübel</h2>
    <ul style="list-style: none; margin-left: 0;">
        <li>Webentwickler</li>
        <li>Joomla seit 2009</li>
        <li>erster Joomla!Day 2011 in Hamburg</li>
        <li>J and Beyond e.V. Mitglied</li>
    </ul>
    <aside class="notes">
        ich bin Niels Nübel freiberuflicher Webentwickler aus der Nähe von Hamburg.
        Erster Joomladay? 2011 in Hamburg und kurze Zeit später dem J and Beyond e.V. begetreten
        - meiste Zeit mit Joomla zutun und der gibt es ein kleines Problem
    </aside>
</section>

<section class="shadow" data-background="{{ site.baseurl }}/images/htmlcode.jpg">
    <h1>Problem</h1>
    <aside class="notes">
        - default HTML CODE von Joomla<br>
        - Qualität ist fragwürdig<br>
        - immer wieder kommt man an den Punkt das muss anders<br>
        - Beispiel: CSS-Klasse, HTML Tag, Bild andere Position<br>
        - Es muss halt anders, damals FTP HTML Code, bei Joomla läuft der anders ;-) -><br>
        - 2 Methoden
    </aside>
</section>

<section class="shadow" data-background="{{ site.baseurl }}/images/corehack.jpeg">
    <h1>1. Corehack</h1>
    <aside class="notes">
        - Beispiel soll heißen<br>
        - Texteditor quellcode durchsuchen hoffen die Stelle gefunden zuhaben<br>
        - hat ein Nachteil Updates
    </aside>
</section>
<section class="shadow" data-background="{{ site.baseurl }}/images/nocorehack.jpeg">
    <h1 style="text-decoration: line-through;">1. Corehack</h1>
    <aside class="notes">
       - dunkle seite der Macht
    </aside>
</section>
<section class="shadow" data-background="{{ site.baseurl }}/images/joverride.jpeg">
    <h1>2. Override-System</h1>
    <aside class="notes">
        - ich benutzte lieber das viel fältige Joomla Override System
        - das Jedi System
        - von r2d2
    </aside>
</section>