<section id="skills" class="shadow overlay-dark80" data-background="{{ site.baseurl }}/images/skills.jpeg">
	<h1 class="noupper">Skills</h1>
	<ul>
		<li class="fragment">XML</li>
		<li class="fragment">HTML</li>
		<li class="fragment">CSS</li>
		<li class="fragment">PHP</li>
		<li class="fragment">JavaScript</li>
		<li class="fragment">Joomla! API</li>
		<li class="fragment"><span style="text-decoration: line-through">Wordpress</span> <span class="fragment">BG Image :)</span> </li>
	</ul>
	<aside class="notes">
	</aside>
</section>