<section class="shadow" data-background="{{ site.baseurl }}/images/language.jpeg">
    <h1>Sprach-Overrides</h1>
    <aside class="notes">
        - haben nicht dirket mit dem Design overrides zutun
    </aside>
</section>

<section>
    <h2 class="noupper">Sprach Override</h2>
    <img src="{{ site.baseurl }}/images/language_1.jpg">
    <aside class="notes">
        - denk an mich
    </aside>
</section>

<section>
    <h2 class="noupper">Sprach Overrides</h2>
    <img src="{{ site.baseurl }}/images/language_2.jpg">
    <aside class="notes">
        - seit 2.5<br>
        - Erweiterungen -> Sprachen -> Overrides
    </aside>
</section>

<section>
    <h2 class="noupper">Override anlegen</h2>
    <img src="{{ site.baseurl }}/images/language_3.jpg">
    <aside class="notes">
        - zwei Bereiche<br>
        - rechts suchfunktion<br>
        - alle sprachdateien <br>
        - auch im Backend Link A<br>
    </aside>
</section>

<section>
    <h2 class="noupper">Ergebnis</h2>
    <img src="{{ site.baseurl }}/images/language_4.jpg">
    <aside class="notes">
    </aside>
</section>

<section>
    <h2 class="noupper">Backend</h2>
    <img src="{{ site.baseurl }}/images/com_18.jpg">
    <aside class="notes">

    </aside>
</section>
