<section data-transition="none">
	<h2 class="noupper">templateDetails.xml</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>
&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>


<section data-transition="none">
    <h2 class="noupper">Module Positions</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">Position Debug</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <mark class="inline"><position>debug</position></mark>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section>
    <h2 class="noupper">Debug Ausgabe in Protostar</h2>
    <img src="{{ site.baseurl }}/images/debugout.jpg">
    <aside class="notes">
        Hier noch mal unsere Struktur
    </aside>
</section>
<section>
    <h2 class="noupper">Debug anschalten</h2>
    <img src="{{ site.baseurl }}/images/debugon.jpg">
    <aside class="notes">
        Hier noch mal unsere Struktur
    </aside>
</section>


<section data-transition="none">
    <h2 class="noupper">Templatebeschreibung</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
  <mark class="inline"><description>Beschreibung</description></mark>

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">Mehrsprachigkeit</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
  <description><mark class="inline">TPL_JDAY2016_XML_DESCRIPTION</mark></description>

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section>
    <h2 class="noupper">Language Files</h2>
    <img src="{{ site.baseurl }}/images/languages.jpg" width="600">
    <aside class="notes">
        Hier noch mal unsere Struktur
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">en-GB.tpl_jday2016.sys.ini</h2>
    <pre><code class="hljs" data-trim data-inline>
TPL_JDAY2016_XML_DESCRIPTION="Joomla 3 Template als HTML5 Version"
   </code></pre>
    <aside class="notes">
    </aside>
</section>
<section data-transition="none">
    <h2 class="noupper">Sprach String</h2>
    <pre><code class="hljs" data-trim data-inline>
<mark class="inline">TPL_JDAY2016_XML_DESCRIPTION</mark>="Joomla 3 Template als HTML5 Version"
   </code></pre>
    <aside class="notes">
    </aside>
</section>
<section data-transition="none">
    <h2 class="noupper">Übersetzung</h2>
    <pre><code class="hljs" data-trim data-inline>
TPL_JDAY2016_XML_DESCRIPTION<mark class="inline">="Joomla 3 Template als HTML5 Version"</mark>
   </code></pre>
    <aside class="notes">
    </aside>
</section>


<section data-transition="none">
    <h2 class="noupper">Modul Positionsnamen</h2>
    <pre><code class="hljs" data-trim data-inline>
TPL_JDAY2016_XML_DESCRIPTION="Joomla 3 Template als HTML5 Version"
TPL_JDAY2016_POSITION_DEBUG="Debug"
   </code></pre>
    <aside class="notes">
    </aside>
</section>
<section data-transition="none">
    <h2 class="noupper">Modul Positionsnamen</h2>
    <pre><code class="hljs" data-trim data-inline>
TPL_JDAY2016_XML_DESCRIPTION="Joomla 3 Template als HTML5 Version"
TPL_JDAY2016_POSITION_DEBUG="<mark class="inline">Debug</mark>"
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">en-GB.tpl_jday2016.ini</h2>
    <pre><code class="hljs" data-trim data-inline>
TPL_JDAY2016_XML_DESCRIPTION="Joomla 3 Template als HTML5 Version"
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">Sprach Dateien 1/2</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
  <description>TPL_JDAY2016_XML_DESCRIPTION</description>

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>

  <mark class="inline"><languages folder="language">
    <language tag="en-GB">en-GB/en-GB.tpl_jday2016.ini</language>
    <language tag="en-GB">en-GB/en-GB.tpl_jday2016.sys.ini</language>
  </languages></mark>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>

<section data-transition="none">
    <h2 class="noupper">Sprach Dateien 2/2</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
  <description>TPL_JDAY2016_XML_DESCRIPTION</description>

  <files>
    <mark class="inline"><folder>language</folder></mark>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>

  <posititons>
    <position>debug</position>
  </posititons>
&lt;/extension&gt;
   </code></pre>
    <aside class="notes">
    </aside>
</section>



