<section id="templatedetails">
    <h2 class="noupper">templateDetails.xml</h2>
    <pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="3" type="template" client="site"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Joomla Version</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension <mark class="inline">version="3"</mark> type="template" client="site"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Joomla Version</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="<mark class="inline">3</mark>" type="template" client="site"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Joomla Version</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="<mark class="inline">3.5</mark>" type="template" client="site"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Joomla Version</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="<mark class="inline">3.6</mark>" type="template" client="site"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Installations Typ</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="3.1" <mark class="inline">type="template"</mark> client="site"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Frontend Template</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="3.1" type="template" <mark class="inline">client="site"</mark>&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Backend Template</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!DOCTYPE install PUBLIC "-//Joomla! 2.5//DTD template 1.0//EN"
		"https://www.joomla.org/xml/dtd/2.5/template-install.dtd"&gt;
&lt;extension version="3.1" type="template" client="<mark class="inline">administrator</mark>"&gt;

&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Template Info</h2>
	<pre class="stretch"><code class="hljs" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;
&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">Files</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;

  <files>
    <filename>index.php</filename>
    <filename>templateDetails.xml</filename>
  </files>
&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>

<section data-transition="none">
	<h2 class="noupper">index.php</h2>
	<pre class="stretch"><code class="hljs xml" data-trim data-inline>
&lt;extension version="3.1" type="template" client="site"&gt;
  &lt;name&gt;jday2016&lt;/name&gt;
  &lt;creationDate&gt;16.09.2016&lt;/creationDate&gt;
  &lt;author&gt;Niels Nübel&lt;/author>
  &lt;authorEmail&gt;niels@niels-nuebel.de&lt;/authorEmail&gt;
  &lt;authorUrl&gt;http://www.niels-nuebel.de&lt;/authorUrl&gt;
  &lt;version&gt;0.0.1&lt;/version&gt;

  <files>
    <mark class="inline"><filename>index.php</filename></mark>
    <filename>templateDetails.xml</filename>
  </files>
&lt;/extension&gt;
   </code></pre>
	<aside class="notes">
	</aside>
</section>